HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


##bulid
./wearwiz-cert/build/*
./common/build/*
./gradle
./src

##logfile
/wearwiz-gateway/build/*
/wearwiz-cert/userLog*
/wearwiz-cert/userLog
/wearwiz-gateway/gradle/wrapper/gradle-wrapper.jar

/wearwiz-eureka/build/*
/wearwiz-eureka/userLog
/wearwiz-eureka/gradle/wrapper/gradle-wrapper.jar
